{% extends "sitebase.html" %}
{% load dajaxice_templatetags i18n %}


{% block middlecontent %}

<div class="col-sm-12">
  <br/>
  <div id="respo">
    <div class="panel panel-default">
      <div class="panel-heading">
        Les postulants pour l'offre {{ offer.title }}
      </div>

        <div class="panel-body">
        <br/>

        <div class="col-sm-12">

          <div class="social-box">
            
    <!-- BEGIN TABLE BODY -->
    <div class="body">

      <ol>
        <li>
          <strong> 
            - Clickez sur l'icone <i class="fa fa-power-off min-size red"></i> pour valider les demandes no confirmées
          </strong>
        </li>

        <li>
            <strong>- Cela vous évite de voir les notification sur le menu </strong>
        </li>
      </ol>

      <br>

        {% if apps %}
          <!-- BEGIN TABLE DATA -->
        <div id="editable_wrapper" class="dataTables_wrapper form-inline" role="grid">
          <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-hover" id="editable" aria-describedby="editable_info">
            <!-- BEGIN -->
            <thead>
                <tr role="row">


                  <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="ID" style="width: 50px;text-align: center;">
                    Profile
                  </th>

                  <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="editable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Username: activate to sort column descending" style="width: 186px;text-align: center;">Offre
                  </th>

                  <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="editable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Username: activate to sort column descending" style="width: 186px;text-align: center;">Nom
                  </th>

                  <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="ID" style="width: 130px;text-align: center;">
                    Prénom
                  </th>

                  <th class="sorting" role="columnheader" tabindex="0" aria-controls="editable" rowspan="1" colspan="1" aria-label="Password: activate to sort column ascending" style="width: 122px;text-align: center;">Déposé le:
                  </th>

                  <th class="sorting" role="columnheader" tabindex="0" aria-controls="editable" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending" style="width: 150px;text-align: center;">Niveau d'études
                  </th>

                  <th class="sorting" role="columnheader" tabindex="0" aria-controls="editable" rowspan="1" colspan="1" aria-label="Last Login: activate to sort column ascending" style="width: 110px;text-align: center;">Expérience
                  </th>

                  <th class="sorting" role="columnheader" tabindex="0" aria-controls="editable" rowspan="1" colspan="1" aria-label="Password: activate to sort column ascending" style="width: 160px;text-align: center;"> Confirmer
                  </th>

                  <th class="sorting" role="columnheader" tabindex="0" aria-controls="editable" rowspan="1" colspan="1" aria-label="Edit: activate to sort column ascending" style="width: 46px;text-align: center;">CV
                  </th>

                </tr>
            </thead>
            <!-- END -->
            <!-- BEGIN -->
            
            <!-- END -->
              <tbody role="alert" aria-live="polite" aria-relevant="all">

                {% for i in apps %}
                  
                   <tr id="data1" class="gradeX odd">

                      <td class=" "><a class="edit" href="{{ i.person.get_absolute_url }}">&nbsp;&nbsp;<i class="fa fa-search min-size gray"></i></a></td>

                      <td class=" sorting_1"> {{ i.offer }} </td>
                      <td class=" sorting_1"> {{ i.person.last_name }} </td>
                      <td class=" ">          {{ i.person.prenom }}    </td>
                      <td class=" ">          {{ i.created|date:'SHORT_DATE_FORMAT' }} </td>


                      <td class=" "> {{i.person.get_study_level_display}} </td>

                      <td class=" "> {{i.person.get_experience_display }} </td>

                      <td class="">
                        {% if i.is_seen %}
                          <a href="/application/{{ i.offer.id }}/reject/{{ i.person.id }}/set/{{ i.id }}">&nbsp;&nbsp;<i class="fa fa-power-off min-size green"></i></a>
                        {% else %}  
                          <a href="/application/{{ i.offer.id }}/confirm/{{ i.person.id }}/set/{{ i.id }}">&nbsp;&nbsp;<i class="fa fa-power-off min-size red"></i></a>
                        {% endif %}
                      </td>

                      <!-- <td class=" "><a class="edit" href="javascript:alert('en cours de dev')"><i class="fa  fa-check-circle-o gray"></i></a></td> --> 
                      <td class=" "><a class="edit" href="javascript:alert('en cours de dev')"><i class="fa fa-file-pdf-o blue"></i></a></td>

                  </tr>

                {% endfor %}
                  
              </tbody>
            </table>

              <div class="row-fluid">

                <div class="span6">
                  <div class="dataTables_info" id="editable_info">Affichage de 1 à 20 entrées</div>
                </div>

                <div class="span6">

                  <div class="dataTables_paginate paging_bootstrap pagination">

                    <ul>
                      <li class="prev disabled"><a href="#">← Précédent</a></li>
                      <li class="active"><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li class="next"><a href="#">Suivant → </a></li>
                    </ul>

                  </div>
                </div>
              </div>
            </div>
        <!-- END TABLE DATA -->
        {% else %}

          <div class="info">
            <p class="lead">
              <br>
              Aucun demande pour vos offres d'emploie pour le moment.
              &nbsp;
              <br>
            </p>
          </div>

        {% endif %}
    </div>
    <!-- END TABLE BODY -->
</div>

          <br/>
        </div>

    </div> <!-- end panel body -->  
      
    </div>

</div>

<div class="clearfix"></div>
<!-- Authors word -->

<div class="clear"></div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-sm-12">
      <img src="http://placehold.it/670x70" alt="placeholder image" class='img-responsive'></div>
  </div>
</div>

</div>
<!-- end span8 -->
{% endblock middlecontent %}
<br/>


{% block sidecontent %}

{% endblock sidecontent %}

