{% extends "sitebase.html" %}
{% load dajaxice_templatetags %}
{% load i18n %}
{% block middlecontent %}

{% block extra_style %}
   <link rel="stylesheet" type="text/css" href="/static/social.css">
 {% endblock extra_style %} 


<div class="col-sm-8">
  <br/>
  <div id="respo">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="fa-stack ">
          <i class="fa fa-square-o fa-stack-2x "></i>
          <i class="fa fa-user fa-stack-1x "></i>
        </span>
        Mon profile
      </div>

        <div class="panel-body">
        <br/>

        <div class="col-sm-4">

          <div class="list-group">
            <a class="list-group-item no-hover" href="#"><i class="fa fa-file-image-o gray "></i>&nbsp; Avatar</a>
            <div id="people-you-may-know" class="social-nav-list" style="max-width: 340px; padding: 0;">
            <ul class="nav nav-list dividers">
              <li class="nav-header">&nbsp;</li>
          
              <li class="nav-header">
                  <div class="avatar">
                    <img src="/static/img/user2.png" alt="avatar" class="img-thumbnail" width='100' height='100'>
                  </div>
              </li>
              <br>
          
            </ul>
          </div> <!-- end avatar -->   
          </div>

          <hr>

          <div class="list-group">
                <a class="list-group-item no-hover" href="#"><i class="fa fa-edit gray "></i> Edition</a>

                <a class="list-group-item" href="/emp_profile_edit/{{ userinfo.id }}">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-square fa-stack-2x blue-ns"></i>
                    <i class="fa fa-user fa-stack-1x fa-inverse white-ns"></i>
                  </span>
                  &nbsp; Profile
                </a>     

                <a class="list-group-item" href="/accounts/password/reset">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-square fa-stack-2x blue-ns"></i>
                    <i class="fa fa-key fa-stack-1x fa-inverse white-ns"></i>
                  </span>
                  &nbsp; Mot de passe
                </a>

                <a class="list-group-item no-hover" href="#"><i class="fa fa-wrench gray "></i> Gestion</a>

                <a class="list-group-item" href="/emp_profile_offres">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-square fa-stack-2x blue-ns"></i>
                    <i class="fa fa-sitemap fa-stack-1x fa-inverse white-ns"></i>
                  </span>
                  &nbsp; Offres
                </a>

                <a class="list-group-item" href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-square fa-stack-2x blue-ns"></i>
                    <i class="fa fa-group fa-stack-1x fa-inverse white-ns"></i>
                  </span>
                  &nbsp; postulants
                </a>

                <a class="list-group-item no-hover" href="#"><i class="fa fa-money gray "></i> Achat</a>

                <a class="list-group-item" href="/pay/subscribe-modal">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-square fa-stack-2x blue-ns"></i>
                    <i class="fa fa-cc-mastercard fa-stack-1x fa-inverse darkblue-ns"></i>
                  </span>
                  &nbsp; Pack Monsuel
                </a>

                <a class="list-group-item" href="/pay/subscribe-modal">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-square fa-stack-2x blue-ns"></i>
                    <i class="fa fa-cc-mastercard fa-stack-1x fa-inverse darkblue-ns"></i>
                  </span>
                  &nbsp; Pack annuel
                </a>

          </div>



          <hr/>

        </div>

        <div class="col-sm-8">


        <div class="social-box">

            <div class="header">
              <i class="fa fa-bullseye gray-ns"></i>
              <strong>Informations générales :</strong>

            </div>

            <div class="body">
              <dl class="dl-horizontal">
                <dt>Societé</dt>
                <dd>{{userinfo.user.username}}</dd>
                <br>
                <dt>Représentant</dt>
                <dd>{{userinfo.representant}}</dd>
                <br>
                <dt>N° Siret</dt>
                <dd>{{userinfo.siret}}</dd>
                <br>
                <dt>Code postal</dt>
                <dd>{{userinfo.postal_code}}</dd>
                <br>
                <dt>Ville</dt>
                <dd>{{userinfo.town}}</dd>
                <br>
                <dt>Telephone:</dt>
                <dd>{{userinfo.phone}}</dd>
                <br>
                <dt>Site web:</dt>
                <dd>{{userinfo.website}}</dd>
                <br>
                <br>
                <dt>Date d'enrregistrement:</dt>
                <dd>{{ userinfo.user.date_joined }}</dd>
                <br>
                <br>
                <dt>Dernier acces:</dt>
                <dd>{{ userinfo.user.last_login }}</dd>
                <br>
              </dl>
            </div>
           </div>  



            <div class="social-box span6">
              
            <div class="header">
              <h4 class="hidden-phone">Autres Infos</h4>
              <div class="tools">
                <ul id="myTab2" class="nav nav-tabs">
                  <li class="active"><a class="active" href="#profile2" data-toggle="tab"><i class="fa fa-user"></i> Presentation</a></li>
                  <li class=""><a href="#dropdown12" data-toggle="tab"><i class="fa fa-cog"></i> Gestion</a></li>
                </ul>
              </div>

            </div>
            <div class="body">
              <div id="myTabContent2" class="tab-content" style="min-height: 280px;">
                <div class="tab-pane fade active in" id="profile2">
                  <p><strong>Presentation:</strong></p>
                  <p> 
                    {{ userinfo.presentation|safe }}
                    
                  </p>
                </div>
                <div class="tab-pane fade" id="dropdown12">
                  <p><strong>Offres</strong></p>
                  <p>

                    <strong>Les des offres déposés</strong>
                    <ul>
                      {% for i in userinfo.get_offers %}
                        <li> {{ i.title }} </li>
                      {% endfor %}
                    </ul>
                    
                  </p>
                </div>
              </div>


            </div>
          </div>

        </div>

    </div> <!-- end panel body -->  
      
    </div>

</div>

<div class="clearfix"></div>
<!-- Authors word -->

<div class="clear"></div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-sm-12">
      <img src="http://placehold.it/670x70" alt="placeholder image" class='img-responsive'></div>
  </div>
</div>

</div>
<!-- end span8 -->
{% endblock middlecontent %}
<br/>


{% block sidecontent %}
  {% include "./parts/simple_sidecontent.html" %}
{% endblock sidecontent %}



{% block extra_js %}

<script>$(".mobile").click(function() {
      $("nav").slideToggle();  
    });

    var menu = $("nav");
    jQuery(window).on('resize', function(){     
        if(!jQuery(".mobile").is(":visible") && !menu.is(':visible'))
        {
            menu.css({'display':''});   
        }
    });//@ sourceURL=pen.js
    </script>

<script>
      $(window).bind("load resize slid.bs.carousel", function() {
      var imageHeight = $(".active .holder").height();
      $(".controllers").height( imageHeight );
      console.log("Slid");
    });
    </script>
{% endblock extra_js %}