{% extends "sitebase.html" %}
{% load dajaxice_templatetags i18n %}

{% block title %} search results {% endblock title %}

{% block extra_style %}
    <link href="/static/style/blog-style.css" rel="stylesheet">
{% endblock extra_style %}


{% block middlecontent %}

  <div class="col-sm-8 big-content">
  <br/>

  <div id="respo">
  <div class="panel panel-default">
    <div class="panel-heading"> 
      <span class="fa-stack ">
            <i class="fa fa-square-o fa-stack-2x "></i>
            <i class="fa fa-group fa-stack-1x "></i>
       </span>
      {% trans "Liste des candidats disponible" %} 
    </div>
    
    <div class="panel-body big-content">

      <br/>
      <br/>

      <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Nom</th>
                <th>Position</th>
                <th>Région</th>
                <th>Niveau</th>
                <th>Disponibilité</th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th>Photo</th>
                <th>Nom</th>
                <th>Position</th>
                <th>Région</th>
                <th>Niveau</th>
                <th>Disponibilité</th>
            </tr>
        </tfoot>
 
        <tbody>
            {% for i in contacts %}

            <tr>
                <td><img src="/static/img/candidate_avatar.png" height='40px' width='40px' alt="User Photo" class='img-thumbnail'></td>
                <td><i class="glyph-fa fa fa fa-search"></i> &nbsp; <a href="{{ i.get_absolute_url }}">{{i.user.username}}</a></td>
                <td>{{i.get_sector1_display}}</td>
                <td>{{i.get_mobility1_display}}</td>
                <td>{{i.get_study_level_display}}</td>
                <td>{{i.get_disponibility_display}}</td>
            </tr>
              
            {% endfor %}
        </tbody>
    </table>
      
    </div>
    <!-- end panel body -->

    

    <div class="panel-footer">
      <div class="page-numbers">
        <ul>

          {% if contacts.has_previous %}
          <li>
            <a class="prev" href="?page={{ contacts.previous_page_number }}">
              <i class="prev"></i>
            </a>
          </li>
          {% endif %}

          <li>
            <a href="javascript:void(0)"> 
              {% trans "page" %} &nbsp;{{ contacts.number }} / {{ contacts.paginator.num_pages }} 
            </a>
          </li>
          
          {% if contacts.has_next %}
          <li>
            <a class="next" href="?page={{ contacts.next_page_number }} ">
              <i class="next"></i>
            </a>
          </li>
          {% endif %}

          <div class="clear"></div>


        </ul>
      </div>
    </div>

    <br/> 

    
    
  </div>
  
  </div>

<!-- google ads -->       
<div class="panel panel-default">
 <div class="panel-body">
   <div class="col-sm-12">
     <img src="http://placehold.it/670x70&text=espace de publicité" alt="placeholder image" class='img-responsive'>
   </div>
 </div>
</div>
  
</div> <!-- end span8 -->
{% endblock middlecontent %}

<br/>


{% block sidecontent %}
  {% include "./parts/search_sidecontent.html" %}
{% endblock sidecontent %}


{% block extra_js %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
  <script type="text/javascript" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>     

  <script>

        $(document).ready(function() {
            $('#example').dataTable({
              "paging":   false,
              "ordering": false,
              "info":     false
            });

        } );
    </script>
{% endblock extra_js %}