{% extends "app_base.html" %}

{% block main_content %}

	<div class='offset2' style='padding-top:20px'>
		<div class='row-fluid'>
			{% with subscription=request.user.customer.current_subscription %}
				{% if subscription %}
				<div class='span10'>

					<div class="lead">
						{% include 'payments/_subscription_status.html' %}
					</div>

					<div class='well'>
						<p class='lead'>Plan actuel: {{ subscription.plan_display }}</p>
						{% if subscription.status == 'active' %}
						<p class='lead'>
							&nbsp;
							<a href="{% url change_subscription %}" class='btn btn-primary'>Changer de Plan</a>
							<a href="{% url change_card %}" class='btn btn-warning'>Changer de Carte</a>
							<a href="{% url cancel_subscription %}" class='btn btn-danger'>Annuler Abonnement</a>
						</p>
						{% endif %}
					</div>
				</div>
				{% endif %}
			{% endwith %}
		</div>
		
		<div class="row-fluid">
			<h2> 
				&nbsp; Payez en toute sécurité  - 
				<a class="btn btn-primary btn-success pay-btn" href="{% url subscribe_modal %}"><i class="fa fa-credit-card"></i>&nbsp;Payez</a>
			</h2>
		</div>

	</div>
	<br>
	<br>

{% endblock main_content %}