{% extends "sitebase.html" %}
{% load dajaxice_templatetags %}
{% load i18n %}

{% block style %}
      <!-- Stylesheets -->
        <link href="/static/header/header.css" rel="stylesheet">
        <link href="/static/style/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/style/fontawesome/css/font-awesome.css">
        <link href="/static/style/style2.css" rel="stylesheet">
        <link href="/static/style/slider2.css" rel="stylesheet">
        
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Glegoo" type="text/css" />
        <link rel="stylesheet" type="text/css" href="/static/style/flexslider.css">
        

        <link rel="stylesheet"  href="/static/style/responsive.css" type="text/css" media="all">
        <!-- social fonts --> 
        <link rel="stylesheet" href="/static/fonts/stylesheet.css" type="text/css" charset="utf-8" />
        <link rel="stylesheet" href="/static/css/header_style.css">

        <link rel="stylesheet" href="/static/test.css">
        <!-- vmap --> 
        <link rel="stylesheet" href="/static/vmap/jqvmap.css">


        <!-- sharethis webservice --> 
        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "fc960723-2a1c-4123-bacd-9e76284af85e", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>

        
    {% endblock style %}  

{% block extra_style %}
  <link rel="stylesheet" href="/static/test.css">     
{% endblock extra_style %}

{% block topheader %} {% endblock topheader %}

{% block middlecontent %}


<div class="main2 desktop chrome right-sidebar">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <br/>
                <div class="panel panel-default">
                  
                    <div class="panel-body">

                        <div class="col-sm-3">&nbsp;</div>
                        <div class="col-sm-6" id='loginform'>
                            <div class="panel panel-default">
                                
                                <div class="panel-body" style='background:#fff; box-shadow:none'>

                                    <br>
                                      <!-- second form to hold -->  

                                    <div class="col-sm-11">
                                      
                                      <br/> <br/> <br/>

                                      <div class="alert">
                                        <p class="lead">

                                            Opération terminée avec succés.
                                          
                                        </p>
                                      </div>
                                        

                                      <br/> <br/> <br/>

                                    </div>

                                </div>


                          </div> <!-- end panel-default -->

                      </div> <!-- end col-sm-6 -->

                      <div class="col-sm-3">&nbsp;</div>
                      <div class="clearfix"></div>
                      <br/>

                      </div>
                </div> <!-- end panel panel-default --> 

                <div class="clear"></div>
                

          </div> <!-- end col-sm-12 --> 

    </div> <!-- end row --> 
  
  <div class="clear"></div>

</div> <!-- end container -->
</div> <!-- end main2 -->
{% endblock middlecontent %}

{% block sidecontent %} {% endblock sidecontent %}

{% block footer %} {% endblock footer %}