{% extends "sitebase.html" %}
{% load dajaxice_templatetags %}
{% load i18n %}

{% block extra_style %}
  <link rel="stylesheet" href="/static/test.css">     
{% endblock extra_style %}

{% block topheader %} {% endblock topheader %}

{% block middlecontent %}


<div class="main2 desktop chrome right-sidebar">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <br/>
                <div class="panel panel-default">
                  
                    <div class="panel-body">

                        <div class="col-sm-3">&nbsp;</div>
                        <div class="col-sm-6" id='loginform'>
                            <div class="panel panel-default">
                                
                                <div class="panel-body" style='background:#fff'>

                                    <br>
                                      <!-- second form to hold -->  

                                    <div class="col-sm-11">
                                      
                                         <form action="" method="post">
                                              {% csrf_token %}


                                            <p class="login-helptext">Changer votre mot de passe</p> <br/><br/>
                                              <br/>

                                              <p> Pour des raisons de sécurité, veuillez retaper votre ancien mot de passe puis faites entrer le nouveau</p>
                                              <br/>

                                            <fieldset class="module aligned wide">

                                            <div class="form-row">
                                                <label for="id_old_password" class="required">Ancien mot de passe:</label>
                                                <input type="password" name="old_password" id="id_old_password" />
                                            </div>

                                            <div class="form-row">
                                                
                                                <label for="id_new_password1" class="required">Nouveau mot de passe:</label>
                                                <input type="password" name="new_password1" id="id_new_password1" />
                                            </div>

                                            <div class="form-row">
                                                <label for="id_new_password2" class="required">Vérifiez votre mot de passe:</label>
                                                <input type="password" name="new_password2" id="id_new_password2" />
                                            </div>

                                            </fieldset>

                                            <div class="form-actions">
                                              <button type="submit" class="btn btn-primary">Valider</button><br/>
                                              <button type="button" class="btn btn-danger" onclick='javascrpt:window.location.href="/"'>Retour</button>
                                            </div>

                                            <script type="text/javascript">document.getElementById("id_old_password").focus();</script>

                                          </form> 

                                    </div>

                                </div>

                                <div class="panel-footer">
                                    <b>Vous possedez un compte ?</b> <a href="/accounts/login/">S'authentifier</a>
                                </div>

                                

                          </div> <!-- end panel-default -->

                      </div> <!-- end col-sm-6 -->

                      <div class="col-sm-3">&nbsp;</div>
                      <div class="clearfix"></div>
                      <br/>

                      </div>
                </div> <!-- end panel panel-default --> 

                <div class="clear"></div>
                

          </div> <!-- end col-sm-12 --> 

    </div> <!-- end row --> 
  
  <div class="clear"></div>

</div> <!-- end container -->
</div> <!-- end main2 -->
{% endblock middlecontent %}

{% block sidecontent %} {% endblock sidecontent %}

{% block footer %} {% endblock footer %}