{% extends "sitebase.html" %}
{% load dajaxice_templatetags i18n %}

{% block extra_style %}
    <link rel="stylesheet" href="/static/test.css">     
{% endblock extra_style %}

{% block topheader %} {% endblock topheader %}

{% block middlecontent %}
<div class="main2 desktop chrome right-sidebar">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                
                <div class="panel panel-default">
                  
                    <div class="panel-body">

                        <div class="col-sm-3">&nbsp;</div>
                        <div class="col-sm-6" id='loginform'>
                            <div class="panel panel-default">
                                
                                <div class="panel-body" style='background:#fff'>

                                    <br>
                                      <!-- second form to hold -->  

                                    

                                      <div class="col-sm-11 transp">
                                      <form class="form-horizontal niceform" action="." method="post" enctype="multipart/form-data" role="form">
                                      {% csrf_token %}

                                      <p class='register-helptext'>
                                        <span class="fa-stack fa-lg">
                                          <i class="fa fa-square fa-stack-2x blue-ns"></i>
                                          <i class="fa fa-repeat fa-stack-1x fa-inverse white-ns"></i>
                                        </span>

                                        <strong>{% trans "Récupérez votre mot de passe" %}</strong>
                                      </p>
                                      <hr/>

                                        {{ form.non_field_errors }}
                                        <div class="clearfix"></div>

                                        <form action="" method="post">
                                          
                                          {% csrf_token %}
                                          <br/>

                                          <p>
                                            <label for="id_email">Adresse E-mail:</label>
                                            <input id="id_email" type="text" name="email" maxlength="75" /> 
                                            
                                          </p>

                                          <br/>

                                          <div class="form-actions">
                                              <button type="submit" class="btn btn-primary">Valider</button><br/>
                                              <button type="button" class="btn btn-danger" onclick='javascrpt:window.location.href="javascript:history.go(-1)"'>Retour</button>
                                          </div>

                                        </form>
                                     
                                      </form>
                                    </div>
                                      
                                    

                                </div>

                                <div class="panel-footer">
                                    &nbsp;
                                </div>

                                

                          </div> <!-- end panel-default -->

                      </div> <!-- end col-sm-6 -->

                      <div class="col-sm-3">&nbsp;</div>
                      <div class="clearfix"></div>
                      <br/>

                      </div>
                </div> <!-- end panel panel-default --> 

                <div class="clear"></div>
                

          </div> <!-- end col-sm-12 --> 

    </div> <!-- end row --> 
  
  <div class="clear"></div>

</div> <!-- end container -->
</div> <!-- end main2 -->
{% endblock middlecontent %}

{% block sidecontent %} {% endblock sidecontent %}

{% block footer %} {% endblock footer %}