{% extends "sitebase.html" %}
{% load dajaxice_templatetags %}
{% load i18n %}


{% block extra_style %}
  <link rel="stylesheet" href="/static/test.css">     
{% endblock extra_style %}

{% block topheader %} {% endblock topheader %}

{% block middlecontent %}


<div class="main2 desktop chrome right-sidebar">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div class="panel panel-default">
                  
                    <div class="panel-body">

                        <div class="col-sm-3">&nbsp;</div>
                        <div class="col-sm-6" id='loginform'>
                            <div class="panel panel-default">
                                
                                <div class="panel-body" style='background:#fff'>

                                    <br>
                                      <!-- second form to hold -->  
                                    <div class="col-sm-11 transp">
                                      <form class="form-horizontal niceform" action="." method="post" enctype="multipart/form-data" role="form">
                                      {% csrf_token %}

                                     <p class='register-helptext'>
                                        <span class="fa-stack fa-lg">
                                          <i class="fa fa-square fa-stack-2x blue-ns"></i>
                                          <i class="fa fa-user fa-stack-1x fa-inverse white-ns"></i>
                                        </span>

                                        <strong>{% trans "S'enregistrer" %}</strong>
                                      </p>

                                     <hr/>


										                  <div class="control-group">
	                                        <label class="control-label">Prenom</label>
	                                        <div class="controls">
	                                           <input type="text" id='id_username' name="username" class="span6">
	                                           {% if form.username.errors %}  <span class="help-inline">{{ form.username.errors }}</span> {% endif %}
	                                        </div>
	                                     </div>
	                                     <div class="clearfix"></div>

	                                     <div class="control-group">
	                                        <label class="control-label">adresse email</label>
	                                        <div class="controls">
	                                           <input type="text" id='id_email' name='email' class="span6">
	                                           {% if form.email.errors %}  <span class="help-inline">{{ form.email.errors }}</span> {% endif %}
	                                        </div>
	                                     </div>
	                                     <div class="clearfix"></div>

	                                     <div class="control-group">
	                                        <label class="control-label">mot de passe</label>
	                                        <div class="controls">
	                                           <input type="password" id='id_password1' name="password1" class="span6">
	                                           {% if form.password1.errors %}  <span class="help-inline">{{ form.password1.errors }}</span> {% endif %}
	                                        </div>
	                                     </div>
	                                     <div class="clearfix"></div>

	                                     <div class="control-group">
	                                        <label class="control-label">verifier mot de passe</label>
	                                        <div class="controls">
	                                           <input type="password" id='id_password2' name="password2" class="span6">
	                                           {% if form.password2.errors %}  <span class="help-inline">{{ form.password2.errors }}</span> {% endif %}
	                                        </div>
	                                     </div>
	                                     <div class="clearfix"></div>

	                                     <br/>

	                                     <p class="required"><label for="id_is_candid_0">Vous êtes :</label> </p>

	                                     <ul>
                  											<li><label for="id_is_candid_0"><input type="radio" id="id_is_candid_0" value="1" name="is_candid"> Candidat</label></li>
                  											<li><label for="id_is_candid_1"><input type="radio" id="id_is_candid_1" value="0" name="is_candid"> Recruteur</label></li>
                  										 </ul>


                                     <br/>
                                     
                                     <div class="col-sm-12">

                                       <div class="form-actions">
                                          <button type="submit" class="btn btn-primary">Valider</button><br/>
                                          <button type="button" class="btn btn-danger" onclick='javascrpt:window.location.href="/"'>Page d'accueil</button>
                                       </div>

                                     </div>

                                  </form>
                                    </div>

                                </div>

                                <div class="panel-footer">
                                    <b>Vous possedez un compte ?</b> 
                                    <i class="fa fa-home gray-ns"></i>&nbsp;
                                    <a href="/accounts/login/" class="account-log">S'authentifier.</a><br/>
                                </div>

                          </div> <!-- end panel-default -->

                      </div> <!-- end col-sm-6 -->

                      <div class="col-sm-3">&nbsp;</div>
                      <div class="clearfix"></div>
                      <br/>

                      </div>
                </div> <!-- end panel panel-default --> 

                <div class="clear"></div>
                

          </div> <!-- end col-sm-12 --> 

    </div> <!-- end row --> 
  
  <div class="clear"></div>

</div> <!-- end container -->
</div> <!-- end main2 -->
{% endblock middlecontent %}

{% block sidecontent %} {% endblock sidecontent %}

{% block footer %} {% endblock footer %}