{% extends "sitebase.html" %}

{% load dajaxice_templatetags %}

{% load i18n %}

{% block extra_style %}
  <link href="/static/style/blog-style.css" rel="stylesheet">
{% endblock extra_style %}

{% block middlecontent %}

  <div class="col-sm-8">

  <br/>

  <div class="panel panel-default">
    <div class="panel-heading"> {{ article.title }} </div>
    <div class="panel-body">

      <!-- article 1 --> 

          <div class="blog-artical">
          <div class="blog-artical-head">
            <img class="artical-img img-thumbnail" src="{{ article.img.url }}"  height="100px"/>
              <a class="artical-date" href="#">
                <span>{{ article.created.day }}</span><label>{{article.created|date:"M" }}</label>
              </a>
          </div>
          <div class="artical-info">
            <a href="#"><h4> {{ article.title }} </h4></a>
            {{ article.body|safe }}
          </div>
          <div class="artical-related-info">
            <div class="artical-related-info-row">
              
              <ul class="artical-related-info-row-right">
                <li><a class="author" href="javascript:void(0)">Admin</a></li>
                <li><a class="articl-readmore" href="{{ article.get_absolute_url }}">{% trans "Read More" %}</a></li>
              </ul>

              <div class="clear"> </div>
            </div>
          </div>
          
        </div>

      <!-- end article 1 --> 
      <br/>

    </div>
    <!-- end panel body --> 
    
  </div>

<!-- google ads -->       
<div class="panel panel-default">
 <div class="panel-body">
   <div class="col-sm-12">
     <img src="http://placehold.it/670x70" alt="placeholder image" class='img-responsive'>
   </div>
 </div>
</div>
  
</div> <!-- end span8 -->
{% endblock middlecontent %}

<br/>

