{% extends 'site_base.html' %}

{% block body %}

<div class="container-fluid">
	<div class="row-fluid">

		<i class="icon-home"></i>

		<a href="/pay/" class='under'>Menu paiement</a>		

	</div>
</div>

<div class="container-fluid">

	<div class="row-fluid">
		<div class="span10 offset1">
			<div class="row-fluid">
				{% include '_messages.html' %}
			</div>
		</div>
	</div>				

	<div class="row-fluid">
		<div class="span10 offset1">
			<div class="row-fluid">
				{% block main_content %}
				{% endblock main_content %}
			</div>
		</div>
	</div>
</div>
{% endblock body %}